* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ECF0F1;
}

header {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    /* background: url('https://coverfiles.alphacoders.com/422/42209.jpg') no-repeat center/cover; */
    background-color: #34495E;
    color: #ECF0F1;
    text-shadow: 2px 2px #1B2631;
    /* text-shadow: 2px 2px black; */
    text-align: center;
}

header a {
    color: #ECF0F1;
    text-decoration: none;
}

header a:hover {
    font-size: 25px;
    text-decoration: underline;
}

.name {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.header-nav {
    display: flex;
    justify-content: space-around;
}

main{
    margin: 0 1rem;
    text-align: center;
}


.mypic {
    display: block;
    padding: 0 auto;
    text-align: center;
}

.mypic img {
    width: 30%;
    object-fit: contain;
    border-radius: 50%;
}

/* .mybio-header {
    line-height: 2rem;
} */

.mybio:first-letter {
    font-size: 1.5rem;
}

.social-media {
    margin-left: 1rem;
    margin-top: 1rem;
}

.media-links {
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.media-links img {
    height: 32px;
    width: 32px;
}

.media-links p {
    height: 32px;
    line-height: 32px;
    font-family: monospace;
    font-size: 16px;
}

.link{
    display:flex;
    justify-content: space-around;
}

address {
    margin: 1rem 1rem;
    font-style: normal;
    line-height: 1.5rem;

}

address ul{
    list-style: none;
    margin-top: 1rem;
}

/* .media-links p{
    visibility: hidden;
} */

.media-links a{
    display: flex;
}

/* Projects Page */

.proj-header{
    margin-top: 1rem;
    border-bottom: 1px black solid;
}

.project img{
    width: 75%;
    margin-top: 1rem;
    max-height: 300px;
}

main p{
    margin-top: 1rem;
}

.proj-desc ul{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    list-style: none;
}

@media screen and (min-width: 768px) {

    .fullscreen-header {
        display: flex;
        height: 50px;
        line-height: 50px;
        box-shadow: 2px 2px 5px black;
    }

    .name {
        width: 40%;
        text-decoration: none;
    }

    .header-nav {
        width: 60%;
        align-content: right;
        /* text-decoration: underline; */
    }

    address ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    /* .media-links p{
        visibility: visible;
    } */

    /* Projects Page */

    .project{
        display: flex;
    }

    .project img{
        width: 50%;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    /* .mypic{
    max-width: 500px;
} */


}



/* a{
    color: inherit; 
} */

/* main{
    display: flex;
    margin: 0 auto;
} */

/* .mypic{
    display:flex;
    width: 50%;
    border: solid black;
} */

/* .mybio{
    width: 50%;
    border: solid black;
} */

/* .name{
    width: 100%;
    flex-wrap: nowrap;
} */

/* .header-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
} */