* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ECF0F1;
    color: #1B2631;
    font-family: futura;
}

header {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #34495E;
    color: #ECF0F1;
    text-shadow: 2px 2px #1B2631;
    text-align: center;
}

header a {
    color: #ECF0F1;
    text-decoration: none;
}

header a:hover {
    font-size: 25px;
    text-decoration: underline;
}

.name {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    /* box-shadow: 2px 2px 5px black; */
}

main{
    margin: 0 1rem;
    text-align: center;
    color: #1B2631;
}


.mypic {
    display: block;
    padding: 0 auto;
    text-align: center;
}

.mypic img {
    width: 30%;
    object-fit: contain;
    border-radius: 50%;
}

.mybio:first-letter {
    font-size: 1.5rem;
}

.social-media {
    margin: 1rem 1rem;
}

.media-links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* .media-links img {
    height: 32px;
    width: 32px;
} */

i{
    font-size: 2rem;
}

.media-links a{
    background-color: #ECF0F1;
    color: #34495E;
    text-decoration: none;
    height: 2rem;
    width: 2rem;
    justify-content: center;
}

.media-links a:hover{
    background-color: #34495E;
    color: #ECF0F1;
}

/* .link{
    display:flex;
    justify-content: space-around;
} */

address {
    margin: 1rem 1rem;
    font-style: normal;
    line-height: 1.5rem;

}

address ul{
    list-style: none;
    margin-top: 1rem;
}

.media-links a{
    display: flex;
}

/* Projects Page */

.proj-header{
    margin-top: 1rem;
    border-bottom: 1px black solid;
}

.project img{
    width: 75%;
    margin-top: 1rem;
    max-height: 300px;
}

main p{
    margin-top: 1rem;
}

.proj-desc ul{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    list-style: none;
}

@media screen and (min-width: 768px) {

    .fullscreen-header {
        display: flex;
        height: 50px;
        line-height: 50px;
        box-shadow: 2px 2px 5px black;
    }

    .name {
        width: 40%;
        text-decoration: none;
    }

    .header-nav {
        width: 60%;
        align-content: right;
    }

    address ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    /* Projects 768px+ Page */

    .project{
        display: flex;
    }

    .project img{
        width: 50%;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

}
